extends layout

block header
  script(src!='https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgVZo1vgIRR42znAZvqfU2Vz9YoCC-Ek&sensor=false')

block content
  .span3
    .well.sidebar-nav
      ul.nav.nav-list

  .jumbotron.span9
    #map_canvas
    if (places && places.length > 0)
      script(type='text/javascript') var places = !{JSON.stringify(places)};

block footer
  script(src='/javascripts/map.js', type="text/javascript")