extends layout

block header
  script(src!='https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgVZo1vgIRR42znAZvqfU2Vz9YoCC-Ek&sensor=false')

block content
  .jumbotron
    #map_canvas
    if (places && places.length > 0)
      script(type='text/javascript') var places = JSON.parse(decodeURI('#{places}'));

block footer
  script(src='/javascripts/map.js', type="text/javascript")